<mat-card>
  <mat-card-content>
    <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="1000ms">
      <mat-tab [label]="'Profilo'" fxLayout="column" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <h1>Davide Cresta</h1>
          <h2>Software Developer</h2>
          <h3> Ciao! Mi chiamo Davide ho 21 anni e sono un
            ragazzo intraprendente con tanta voglia di crescere
            e di mettersi in gioco.
            A seguito di un corso di formazione per sviluppatori
            web, ho iniziato a lavorare come programmatore
            per algoWatt, un'azienda nella quale utilizzo diversi
            linguaggi come JavaScript, Angular, SQL e C#.
            Imparo in fretta e sono in gamba nel problem
            solving.
            Non vedo l'ora di contribuire con le mie capacità e
            le mie conoscenze in un team dinamico e
            innovativo.
          </h3>
        </div>
      </mat-tab>

      <mat-tab [label]="'Formazione'">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <h2>Corso Front-End Developer</h2>
          <h3>Axia Formazione - Genova</h3>
          <h3>08/03/2023 - 02/08/2023</h3>

          <h2>Laurea Triennale Ingegneria Informatica</h2>
          <h3>Universitas Mercatorum - Online</h3>
          <h3>15/10/2022 - Attuale</h3>

          <h2>Diploma tecnico Trasporti e Logistica</h2>
          <h3>Istituto tecnico Nautico Andrea Doria - Imperia (Voto finale: 79)</h3>
          <h3>15/09/2016 - 29/06/2021</h3>
        </div>
      </mat-tab>

      <mat-tab [label]="'Esperienza Lavorativa'">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <h2>Programmatore Web Full-Stack</h2>
          <h3>algoWatt S.p.A - Genova</h3>
          <h3>09/06/2023 - Attuale</h3>

          <h2>Portalettere</h2>
          <h3>Poste Italiane - Imperia</h3>
          <h3>02/11/2022 - 31/01/2023</h3>

          <h2>Cameriere</h2>
          <h3>Hotel Mayola - San Bartolomeo al Mare (IM)</h3>
          <h3>30/07/2021 - 07/09/2021</h3>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
